body{
    margin: 0%;
}
html{
    margin: 0%;
}
nav{
    display: flex;
    background-image: linear-gradient(to left, #E83C91, #FF8FB7);
    height: 8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a.NavTite{
    text-decoration: none;
    color: #F8F4EC;
    margin-left: 5px;
    flex: 70%;
}
h1.NavTite{
    margin: 0%;
    margin-top: 1%;
}
a.NavLink{
    flex: 10%;
    text-align: center;
    text-decoration: none;
    color: #F8F4EC;
    font-size: 1.2vw;
    font-weight: 600;
    padding-top: 2vh;
    transition: ease-in-out .3s;
    border-left: 1px #F8F4EC solid;
}
a.NavLink:last-child{
    border-right: 1px solid #F8F4EC;
}
a.NavLink:hover{
    background-image: none;
    background-color: #43334C3f;
    transition: ease-in-out .3s;
}
p.footer{
    margin: 0%;
}
footer{
    position: fixed;
    bottom: 0%;
    background-image: linear-gradient(to left, #E83C91, #FF8FB7);
    width: 100%;
    text-align: center;
    height: 3vh;
}