body{
    margin: 0%;
}
html{
    margin: 0%;
}
nav{
    display: flex;
    background-image: linear-gradient(to right, #0059ff, #5f97ff);
    height: 8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a.NavTite{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    flex: 70%;
}
h1.NavTite{
    margin: 0%;
    margin-top: 1%;
}
a.NavLink{
    flex: 10%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    font-weight: 600;
    padding-top: 2vh;
    transition: ease-in-out .3s;
    border-left: 1px black solid;
}
a.NavLink:last-child{
    border-right: 1px solid black;
}
a.NavLink:hover{
    background-image: none;
    background-color: #00000081;
    transition: ease-in-out .3s;
}
p.footer{
    margin: 0%;
}
footer{
    position: sticky;
    bottom: 0%;
    background-image: linear-gradient(to right, #0059ff, #5f97ff);
    width: 100%;
    text-align: center;
    height: 3vh;
}