body{
    background-color: #FD7979;
    margin: 0px;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    margin: 0px;
    padding: 0%;
}
main{
    background-color: #FD7979;
    position: relative;
    padding-top: 2%;
}
.prodbody{
    color: #f7e9d4;
}
a.prodbody{
    text-decoration: none;
    color: inherit;
    margin: 0%;
}
div.prodbody{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-image: linear-gradient(to right, #FD7979, #FDACAC);
    border-radius: 10px;
    border: #f7e9d4 solid 2px;
}
.prodleft{

}
div.prodleft{
    flex: 50%;
}
h2.textleft{
    padding-left: 10px;
    margin: 0%;
}
p.textleft{
    padding-left: 20px;
    margin: 0%;
    margin-bottom: 5px;
}
div.prodright{
    flex: 50%;
    text-align: right;
    padding-right: 5px;
}
a.prodbody:hover p.textright{
    color: rgb(255, 255, 255);
}